/* CSS File for the ASRC Federal Online Onboarding Learning Resource
 * Team Parrots
 * Author: Victor Caceres
 *
 * Updated to include comments about what the CSS
 * does on the website as of 1/8/2019
 */


/* Imports the font used on the homepage's metrics section */
@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

/* Basic style used for all pages
 * Sets the size and background for the page */
html, body {
  height:100%;
  margin: 0; 
  padding: 50px 0 0 0;
  background-image: url("/src/homepage_background_image.jpg");
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

/* Sets the size and background for the page
 * for the login page specifically */
html.loginPage,body.loginPage{
  padding:0px;
  background-image: url("/src/blurry_background.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}

/* Styles the navigation bar section.
 * Sets the position, fonts, and background */
.navBar {
  background: #211483;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size:12px;
  padding: 5px;
  box-shadow: 0px 3px 10px #4134A4;
  width:100%;
  position:fixed;
  top:0;
  z-index:2;
}

/* Styles the buttons used in the navigation bar */
.dropbtn {
  background-color: #211483;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Creates a dropdown menu to show with the dropdown buttons
 * on the navigation bar */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Styles the content in the dropdown menus on the 
 * navigation bar */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Changes background color when a dropdown option
 * that is a link is hovered over. */
.dropdown-content a:hover {
background-color: #ddd;
}

/* Styles the dropdown option that is a form
 * Mainly used for the Logout button on user options */
.dropdown-content input[type=submit] {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f1f1f1;
  border:none;
}

/* Changes the background of the Logout option on user options */
.dropdown-content input[type=submit]:hover {
background-color: #ddd;
}

/* Shows the dropdown menu when a button on the navigation
 * bar is hovered over */
.dropdown:hover .dropdown-content {
display: block;
}

/* Specifically for the user options, shows the dropdown menu
 * on the right side. */
.dropdown:hover .dropdown-content#options {
display: block;
right:0px;
}

/* Changes the color of the button on the navigation bar when
 * it is hovered over. */
.dropdown:hover .dropbtn {
background-color: #4134A4;
}

/* Changes the color of the button on the navigation bar when
 * it is hovered over. */
.dropbtn:hover {
background-color:#4134A4;
}

/* Division that contains the content to be displayed on a
 * majority of the pages, excluding the homepage. 
 * Contains tables, quizzes, quiz information, metrics, etc
 * It is the white transparent box on these pages. */
.container {
  background: rgba(255,255,255,0.5);
  width: 90%;
  border-radius: 5px;
  margin: 0 auto 0 auto;
  padding: 0px 0px 50px 0px;
  box-shadow: 0px 5px 7px #4134A4;
  border: #7ad7f0 4px solid;
  margin-top: 30px;
  font-family: sans-serif;
  }

/* == DIFFERENT CONTAINERS ==
 * These use the main CSS attributes of the container
 * for all containers. The IDs are used to make subtle
 * changes to this container box. The IDs used are 
 * self explanatory, in terms of what it affects and ]
 * which pages they are used on.
 */
.container#userBox {
  width: 40%;
}

.container#loginBox {
  width: 60%;
  padding:50px 20px;
  border:none;
  color:black;
  background-color: rgba(255,255,255,0.8);
}

.container#createUserBox {
  width:30%;
 border: 0px solid; 
}

.container#uploadFileBox {
  width:30%;
  border: 0px solid;
}

.container#quizInfoContainer {
  width: 80%;
  border: 0px solid;
}

.container#displayQuestion{
  width: 80%;
  border: 0px solid;
}

.container#displayAnswer{
  width: 80%;
  border: 0px solid;
}

.container#viewUserContainer {
  width: 420px;
  border: 0px solid;
  padding-bottom:20px;
}
.container#addQuizInfoContainer {
  width:50%;
  border: 0px solid;
}

.container#addQuestionContainer {
  width:50%;
  border: 0px solid;
}

.container#quizContainer {
  width: 90%;
  margin: 50px auto 0 auto;
  background: rgba(255,255,255,0.75);
  border: 0px solid;
  padding: 0px 0px 50px 0px;
  border-radius: 4px;
}

/* Styles the tables to span the width of the container
 * and collapse the borders. */
.displayTable{
  width: 100%;
  border-collapse: collapse;
}

/* Styles the division that shows the quiz information */
.quizInformation {
  border-bottom-style: solid;
  border-width: 0px 0px 1px 0px;
  box-shadow: 0 4px 10px -10px black;
  padding: 0px;
}

/* Styles paragraphs used in website */
p.info {
  margin: 12px 20px 12px 20px;
}

/* Styles all table data */
td {
  padding-left: 7px;
  }

/* Styles all table headers */
th {
  font-size: 14px;
  background-image: radial-gradient(#4134A4 5%,#211483 95%);
  text-align: left;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  height: 50px;
  font-family: sans-serif;
  padding: 0px 16px 0px 16px;
}

/* Styles a specific table header */
#tableHeading {
  font-family: sans-serif;
  text-align:center;
  width:100%;
  }

/* Styles the search bar */
input[type=text]#searchBox{
  width: 95%;
  border-radius: 4px;
  padding: 4px;
  }

/* Styles the username input */
input[type=text]#userNameInput{
  width: 95%;
  border-radius: 4px;
  padding: 4px;
  margin: 10px 0px;
  }

/* Styles the inputs on the create user page */
input.createUserForm{
  width: 80%;
  padding: 12px;
  margin: 10px auto 10px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Styles the password input */
input[type=password]#passwordInput{
  width: 95%;
  border-radius: 4px;
  padding: 4px;
  margin:10px 0px;
}

/* Styles MC options on the quiz */
input#mcOption {
  margin: 0px 10px 0px 40px;
}

/* Makes the even rows on tables a different color */
tr:nth-child(even) {
background-color: #f2f2f2;
}

/* This is used on the homepage. Makes sure the even rows
 * do not have a background */
tr.metricsRow:nth-child(even) {
background-color: transparent;
}

/* Style for answer options */
label.possibleAnswer {
  display: block;
  margin-bottom: 10px;
}

/* Styles the header used on the login page */
.loginHeader {
  background-color: rgba(33,20,131,0.8);
  text-align: center;
  font-family: sans-serif;
  color:white;
  padding: 5px 35px;
  box-shadow: 0px 5px 8px #4134A4;
  width: 35%;
  position:absolute;
  right:0;
  top:0;
  bottom:0;
}

/* Styles the general use of all buttons on the website */
/* Note that several buttons with different uses may be styled differently
 * depending on their IDs */
.button {
  color: white;
  background-color: darkblue;
  border-color: white;
  border: white;
  border-radius: 5px;
  font-family: sans-serif;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;
  width: 75px;
}

.manageButton {
  display: inline-block;
  margin-left: 7px;
}

/* Indents the buttons used on question pages */
.button#questionSubmit {
  margin: 10px 20px 0px 40px;
}

/* Styles the buttons used to submit forms or files on the webiste */
#submitButton {
  background: #2ecc71;
  border: #27ae60 1px solid;  
  color: white;
  font-size: 0.8em;
  font-weight:800;
  width: 125px;
  float:right;
  margin-right: 60px;
  font-family:sans-serif;
}

/* Styles the buttons used to cancel forms or selected options */
#cancelButton {
  background: #ff6961;
  border: #ff4036 1px solid;
  color: white;
  font-size:0.8em;
  font-weight:800;
  width:125px;
  float:left;
  margin-left: 60px;
  font-family:sans-serif;
}

/* I dont think this is used
#login {
  display: grid;
  grid-gap:0px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
*/

/* Styles the header of the container used for quiz related information */
#quizInfoHeader {
  font-family: sans-serif;
  font-weight: 300;
  color: white;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-image: radial-gradient(#4134A4 5%, #211483 95%);
  text-align: center;
  box-shadow: 0px 2px 4px #4134A4;
  border-radius: 4px 4px 0px 0px;
}

/* Styles the header of the container used for the view user page */
#viewUserHeader {
  font-family: sans-serif;
  font-weight: 300;
  color: white;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-image: radial-gradient(#4134A4 5%, #211483 95%);
  text-align: center;
  box-shadow: 0px 2px 4px #4134A4;
  border-radius: 4px 4px 0px 0px;
}

/* Styles the header of the container used for the quiz results page */
#quizResultHeader {
  font-family: sans-serif;
  font-weight: 300;
  color: white;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-image: radial-gradient(#4134A4 5%, #211483 95%);
  text-align: center;
  box-shadow: 0px 2px 4px #4134A4;
  border-radius: 4px 4px 0px 0px;
}

/* Styles the text used in the grade text */
#gradeHeader {
  text-align: center;
  margin-top: 25px;
}

/* Styles the grade text used in the results page */
#grade {
  font-size: 72px;
  color:#0EA803;
  text-align: center;
}

/* Styles the grade text used in the results page */
#badGrade {
  font-size: 72px;
  color:#FF2828;
  text-align: center;
}

/* Indents the text used for the questions */
.question {
  margin: 10px 0px 0px 20px;
}

/* Styles the buttons used for saving changes */
#saveButton {
  background: #4134A4;
  border: #4134A4 1px solid;
  border-radius: 4px;
  color: white;
  font-size:0.8em;
  font-weight:800;
  width:125px;
  float:left;
  margin-left: 60px;
  font-family:sans-serif;
}

/* Styles the checkbox used in the create user page */
.createUserCheckbox {
  position: relative;
  margin-left: 10px;
  padding-left:0px;
  }

/* Styles the button on the create quiz page */
#createQuizButton {
  margin-left: 20px;
  padding: 5px 75px 5px 5px;
  }

#submitFile {
  display: block;
  margin: 0 auto;
}

/* Styles the button for creating a question on the edit quiz page */
#createQuestion {
  margin-left: 20px;
  width: 100px;
  }

/* Styles the footer division used on the homepage
 * Also includes the side sections within that division */
#footer{
  background-color:#373737;
  padding: 10px 0px 5px 10px;
  border-top: 4px solid #212121;
  position:fixed;
  z-index:2;
  bottom:0;
  width:99.3%;
}

#footerTextLeft{
  margin:0px;
  color:gray;
  font-size:11px;
  display:inline;
}

#footerTextRight{
  margin: 0px 0px 0px 0px;
  color:gray;
  width:30%;
  font-size:11px;
  display:inline;
  float:right;
}

/* Styles the division for the general info section on the homepage */
#generalInfoSection {
  width:100%;
  background-repeat:no-repeat;
  background-position: right;
  background-color:#F2F2F3;
  height:280px;
  padding-top:0px;
}

/* Styles the text used in the general info section on the homepage */
#generalInfo {
  margin:0px;
  position:relative;
  float:left;
  width:30%;
  top:30%;
  bottom:30%;
  left:5%;
  font-family:sans-serif;
}

/* Positions the image used in the general info section */
#generalInfoImage {
  margin:0px;
  max-width:50%;
  float:right;
  height:280px;
}

/* Styles the metrics section on the homepage */
.metricsSection {
  background-image:url("/src/chalkboard_background.png");
  background-size:cover;
  height:1000px;
  width:50%;
  padding-top:40px;
  padding-bottom: 50px;
  background-repeat:no-repeat;
  background-color: #F7FAFF;
  background-position:left bottom;
  border-right: 8px ridge silver;
  border-bottom: 10px ridge silver;
  position:relative;
  z-index:1;
}

/* Styles the table used in the metrics section on the homepage */
.metricsTable {
  font-family: "Walter Turncoat", cursive;
  color:white;
  font-size: 24px;
  width:100%;
  text-align:center;
}


.metricsData {
  font-size:24px;
  background-image:none;
  text-align:center;
  height:auto;
  border: none;
  font-family: "Walter Turncoat", cursive;
  padding:0px;
}

/* Positions the images on the icon section on the homepage */
#iconSection {
  height:520px;
  width: 100%;
  background-color:black;
  padding:25px 0px;
}

/* Styles the icon section on the homepage, also including text */
.iconContainer {
  width:33%;
  float:left;
  text-align:center;
  font-family: sans-serif;
  position:relative;
  top:20%;
  color:white;
}

.iconContainer p {
  width:50%;
  position:relative;
  left:25%;
  right:25%;
}

/* Styles the section on the side of the metrics section on the homepage
 * this also includes the text used in paragraph pags in that section */
#tableSideSection {
  background-image: linear-gradient(#1E8449, #27AE60, #1E8449);
  width: 50%;
  height:1000px;
  float:right;
  padding-top:40px;
  padding-bottom:50px;
  border-bottom: 10px solid #1E8449;
}
#tableSideSection p {
  margin:0px;
  position:relative;
  top:10%;
  bottom:40%;
  width:40%;
  left:25%;
  font-size:32px;
  font-family:"Walter Turncoat";
  color:white;
}

/* Styles the inspirational quote section on the homepage */
#inspirationalBackground {
  background-image:url("/src/inspirational_background.jpg");
  width: 100%;
  height: 600px;
  background-repeat:no-repeat;
  background-size:cover;
}

/* Adds a transparent blue vision on top of the inspirational quote section
 * Also styles the text to be show over that section */
#transparentBlueAndText {
  background-color: rgba(37, 116, 169, 0.7);
  color:white;
  width:100%;
  height:600px;
}
#quoteText {
  position:relative;
  font-size:32px;
  font-style: italic;
  text-align:center;
  width:30%;
  top:30%;
  bottom:40%;
  left:35%;
  right:35%;
  margin:0px;
}

/* Styles the text that is displayed when a question is answered correctly */
#correctAnswerText {
  font-size:18px;
  margin-left:20px;
  padding: 5px 0px;
  font-family: sans-serif;
  }
