.box {
  background: rgba(255,255,255,0.5);
  width: 90%;
  border-radius: 5px;
  margin: 0 auto 0 auto;
  padding: 0px 0px 70px 0px;
  box-shadow: 0px 5px 7px #4134A4;
  border: #7ad7f0 4px solid;
  margin-top: 30px;
  font-family: arial;
  }

.generalTable{
  width: 100%;
  border-collapse: collapse;
}

th {
  font-size: 14px;
  background-image: radial-gradient(#4134A4 5%,#211483 95%);
  text-align: left;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  height: 50px;
  font-family: arial;
  padding: 0px 16px 0px 16px;
}

h1 {
  font-family: arial;
  text-align:center;
  width:100%;
  }

.tableHeader {
  }

input[type=text]{
  width: 95%;
  border-radius: 4px;
  padding: 4px;
  }

tr:nth-child(even) {
background-color: #f2f2f2;
}


