html, body {
  height:100%;
  margin: 0; 
  padding: 0;
  background-image: url("/src/homepage_background_image.jpg");
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

html#login {
  align-items: center;
  display:flex;
  flex-direction: column;
}

.navBar {
  background: #211483;
  color: white;
  text-align: center;
  font-family: arial;
  font-size:12px;
  padding: 5px 5px 0px;
  box-shadow: 0px 5px 5px #4134A4;
}

.dropbtn {
  background-color: #211483;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #4134A4;
}

.dropbtn:hover {
background-color:#4134A4
;}

.container {
  background: rgba(255,255,255,0.5);
  width: 90%;
  border-radius: 5px;
  margin: 0 auto 0 auto;
  padding: 0px 0px 50px 0px;
  box-shadow: 0px 5px 7px #4134A4;
  border: #7ad7f0 4px solid;
  margin-top: 30px;
  font-family: arial;
  }

.container#userBox {
  width: 40%;
}

.container#loginBox {
  width: 30%;
  padding:10px;
}

.container#createUserBox {
  width:30%;  
}

.container#uploadFileBox {
  width:25%;
}

.container#quizInfoContainer {
  width: 80%;
  border: 0px solid;
}

.container#quizContainer {
  width: 90%;
  margin: 50px auto 0 auto;
  background: rgba(255,255,255,0.75);
  border: 0px solid;
  padding: 0px 0px 50px 0px;
  border-radius: 4px;
}

.displayTable{
  width: 100%;
  border-collapse: collapse;
}

.quizInformation {
  border-bottom-style: solid;
  border-width: 0px 0px 1px 0px;
  box-shadow: 0 4px 10px -10px black;
  padding: 0px;
}

p.info {
  margin: 12px 20px 12px 20px;
}

th {
  font-size: 14px;
  background-image: radial-gradient(#4134A4 5%,#211483 95%);
  text-align: left;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  height: 50px;
  font-family: arial;
  padding: 0px 16px 0px 16px;
}

#tableHeading {
  font-family: arial;
  text-align:center;
  width:100%;
  }

input[type=text]#searchBox{
  width: 95%;
  border-radius: 4px;
  padding: 4px;
  }

input[type=text]#userNameInput{
  width: 95%;
  border-radius: 4px;
  padding: 4px;
  }

input[type=password]#passwordInput{
  width: 95%;
  border-radius: 4px;
  padding: 4px;
}

input#createUser {
  width:75%;
  margin: 5px 30px 5px 45px;
}

input#mcChoice {
  margin: 0px 10px 0px 50px;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

label.possibleAnswer {
  display: block;
  margin-bottom: 10px;
}

.loginHeader {
  background-color: #211483;
  text-align: center;
  font-family: arial;
  width: 100%;
  color:white;
  padding: 5px;
  box-shadow: 0px 5px 8px #4134A4;
}

.button {
  border-radius: 5px;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

#submitButton {
  background: #2ecc71;
  border: #27ae60 1px solid;  
  color: white;
  font-size: 0.8em;
  font-weight:800;
  width: 125px;
  float:right;
  margin-right: 60px;
  font-family:arial;
}

#cancelButton {
  background: #ff6961;
  border: #ff4036 1px solid;
  color: white;
  font-size:0.8em;
  font-weight:800;
  width:125px;
  float:left;
  margin-left: 60px;
  font-family:arial;
}

#login {
  display: grid;
  grid-gap:0px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

#quizInfoHeader {
  font-family: sans-serif;
  font-weight: 300;
  color: white;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-image: radial-gradient(#4134A4 5%, #211483 95%);
  text-align: center;
  box-shadow: 0px 2px 4px #4134A4;
  border-radius: 4px 4px 0px 0px;
}

#question {
  margin: 10px 0px 0px 20px;
}

